In [1]:
import pandas as pd
import os, sys, re, datetime
import numpy as np
import dask.dataframe as dd
from scipy import stats 
from matplotlib import pyplot as plt
from pandas_profiling import ProfileReport

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)
pd.set_option("display.max_rows", 200)

2020-06-19 13:49:20,127 - numexpr.utils - INFO - NumExpr defaulting to 2 threads.

In [2]:
def basic_info(name: str):
    df = catalog.load(name)
    print('shape:', df.shape)
    print('--------------')
    print('unique numbers')
    print(df.nunique())
    print('--------------')
    print('num of duplicated:', len(df[df.duplicated()]))
    print('--------------')
    df.info()
    return df

In [3]:
%macro -q __imp 1

In [4]:
%store __imp

Stored '__imp' (Macro)

In [5]:
df = basic_info('item_df')
df.head()

2020-06-19 13:50:06,909 - kedro.io.data_catalog - INFO - Loading data from `item_df` (CSVDataSet)...
shape: (22170, 3)
--------------
unique numbers
item_name           22170
item_id             22170
item_category_id       84
dtype: int64
--------------
num of duplicated: 0
--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,"!ABBYY FineReader 12 Professional Edition Full [PC, Цифровая версия]",1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [6]:
df = basic_info('sales_df')
df.head()

2020-06-19 13:50:14,876 - kedro.io.data_catalog - INFO - Loading data from `sales_df` (CSVDataSet)...
shape: (2935849, 6)
--------------
unique numbers
date               1034
date_block_num       34
shop_id              60
item_id           21807
item_price        19993
item_cnt_day        198
dtype: int64
--------------
num of duplicated: 6
--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
df = basic_info('test_df')
df.head()

2020-06-19 13:50:23,004 - kedro.io.data_catalog - INFO - Loading data from `test_df` (CSVDataSet)...
shape: (214200, 3)
--------------
unique numbers
ID         214200
shop_id        42
item_id      5100
dtype: int64
--------------
num of duplicated: 0
--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268